html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

h1 > span {
  display: block;
}

h1 > span:first-of-type {
  font-size: 1rem;
}

h1 > span:last-of-type {
  font-size: 3rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
}

h1 > span:last-of-type span {
  text-shadow: 1px 1px rgba(0, 0, 0, .2), 2px 2px rgba(0, 0, 0, .15);
}

h1 > span:last-of-type span:nth-child(1) {
  color: #88D1B4;
}

h1 > span:last-of-type span:nth-child(2) {
  color: #F2D914;
}

h1 > span:last-of-type span:nth-child(3) {
  color: #D36A6B;
}

h1 > span:last-of-type span:nth-child(4) {
  color: #559B8F;
}

h1 > span:last-of-type span:nth-child(5) {
  color: #E6873D;
}

h1 > span:last-of-type span:nth-child(6) {
  color: #D36A6B;
}

h1 > span:last-of-type span:nth-child(7) {
  color: #F2D914;
}

h1 > span:last-of-type span:nth-child(8) {
  color: #88D1B4;
}

.controls {
  position: relative;
  text-align: center;
}

.controls span {
  display: block;
  margin-bottom: .5rem;
}

.button {
  font-size: 1rem;
}

.button-basic {
  border: 1px solid #ddd;
  background-color: transparent;
}

.button:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.letter {
  width: 8rem;
  height: 8rem;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  border-radius: 4px;
  line-height: 8rem;
  margin: .5rem;
  display: inline-block;
  font-weight: 600;
  background-size: cover;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, .4);
  text-shadow: 0 0 6px rgba(0, 0, 0, .8);
  border: 4px solid white;
  background-color: #2196f3;
  transition: transform .2s ease-in-out;
}

.letter:hover {
  transform: scale(1.05);
}

.letter:nth-child(3n+1):hover {
  border-color: #88D1B4;
}

.letter:nth-child(3n+2):hover {
  border-color: #F2D914;
}

.letter:nth-child(3n+3):hover {
  border-color: #D36A6B;
}

.letter[data-letter="А"] {
  background-image: url("../images/agne.jpg");
}

.letter[data-letter="Б"] {
  background-image: url("../images/buhal.jpg");
}

.letter[data-letter="В"] {
  background-image: url("../images/vidra.jpg");
}

.letter[data-letter="Г"] {
  background-image: url("../images/galab.jpg");
}

.letter[data-letter="Д"] {
  background-image: url("../images/delfin.jpg");
}

.letter[data-letter="Е"] {
  background-image: url("../images/elen.jpg");
}

.letter[data-letter="Ж"] {
  background-image: url("../images/zhiraf.jpg");
}

.letter[data-letter="З"] {
  background-image: url("../images/zaek.jpg");
}

.letter[data-letter="И"] {
  background-image: url("../images/iguana.jpg");
}

.letter[data-letter="Й"] {
  background-image: url("../images/peyka.jpg");
}

.letter[data-letter="К"] {
  background-image: url("../images/koala.jpg");
}

.letter[data-letter="Л"] {
  background-image: url("../images/lav.jpg");
}

.letter[data-letter="М"] {
  background-image: url("../images/mechka.jpg");
}

.letter[data-letter="Н"] {
  background-image: url("../images/nosorog.jpg");
}

.letter[data-letter="О"] {
  background-image: url("../images/ohlyuv.jpg");
}

.letter[data-letter="П"] {
  background-image: url("../images/patitsa.jpg");
}

.letter[data-letter="Р"] {
  background-image: url("../images/rak.jpg");
}

.letter[data-letter="С"] {
  background-image: url("../images/slon.jpg");
}

.letter[data-letter="Т"] {
  background-image: url("../images/tigar.jpg");
}

.letter[data-letter="У"] {
  background-image: url("../images/uho.jpg");
}

.letter[data-letter="Ф"] {
  background-image: url("../images/flamingo.jpg");
}

.letter[data-letter="Х"] {
  background-image: url("../images/hameleon.jpg");
}

.letter[data-letter="Ц"] {
  background-image: url("../images/tsvete.jpg");
}

.letter[data-letter="Ч"] {
  background-image: url("../images/chayka.jpg");
}

.letter[data-letter="Ш"] {
  background-image: url("../images/shisharka.jpg");
}

.letter[data-letter="Щ"] {
  background-image: url("../images/shtarkel.jpg");
}

.letter[data-letter="Ъ"] {
  background-image: url("../images/agal.jpg");
}

.letter[data-letter="Ь"] {
  background-image: url("../images/minyor.jpg");
}

.letter[data-letter="Ю"] {
  background-image: url("../images/yutia.jpg");
}

.letter[data-letter="Я"] {
  background-image: url("../images/yaguar.jpg");
}

.audio-icon {
  top: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
}

.audio-icon .path {
  fill: white;
}

.hidden {
  display: none;
}

footer {
  border-top: 1px solid gray;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 25em) {
  h1 > span:last-of-type {
    font-size: 4rem;
  }
}

@media (min-width: 30em) {
  .controls span {
    display: inline-block;
    margin-bottom: 0;
  }

  .controls span::after {
    content: ':';
  }
}

@media (min-width: 60em) {
  body {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
  }

  .controls {
    position: absolute;
    top: 1.375rem;
    right: 0;
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .controls span {
    display: block;
    margin-bottom: .5rem;
  }

  .controls span::after {
    content: '';
  }
}
