html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.letter {
  width: 8rem;
  height: 8rem;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  border-radius: 4px;
  line-height: 8rem;
  margin: .5rem;
  display: inline-block;
  font-weight: 600;
  background-size: cover;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, .4);
  text-shadow: 0 0 6px rgba(0, 0, 0, .8);
  border: 4px solid white;
  background-color: #2196f3;
}

.letter[data-letter="А"] {
  background-image: url("../images/agne.jpg");
}

.letter[data-letter="Б"] {
  background-image: url("../images/buhal.jpg");
}

.letter[data-letter="В"] {
  background-image: url("../images/vidra.jpg");
}

.letter[data-letter="Г"] {
  background-image: url("../images/galab.jpg");
}

.letter[data-letter="Д"] {
  background-image: url("../images/delfin.jpg");
}

.letter[data-letter="Е"] {
  background-image: url("../images/elen.jpg");
}

.letter[data-letter="Ж"] {
  background-image: url("../images/zhiraf.jpg");
}

.letter[data-letter="З"] {
  background-image: url("../images/zaek.jpg");
}

.letter[data-letter="И"] {
  background-image: url("../images/iguana.jpg");
}

.letter[data-letter="Й"] {
  background-image: url("../images/peyka.jpg");
}

.letter[data-letter="К"] {
  background-image: url("../images/koala.jpg");
}

.letter[data-letter="Л"] {
  background-image: url("../images/lav.jpg");
}

.letter[data-letter="М"] {
  background-image: url("../images/mechka.jpg");
}

.letter[data-letter="Н"] {
  background-image: url("../images/nosorog.jpg");
}

.letter[data-letter="О"] {
  background-image: url("../images/ohlyuv.jpg");
}

.letter[data-letter="П"] {
  background-image: url("../images/patitsa.jpg");
}

.letter[data-letter="Р"] {
  background-image: url("../images/rak.jpg");
}

.letter[data-letter="С"] {
  background-image: url("../images/slon.jpg");
}

.letter[data-letter="Т"] {
  background-image: url("../images/tigar.jpg");
}

.letter[data-letter="У"] {
  background-image: url("../images/uho.jpg");
}

.letter[data-letter="Ф"] {
  background-image: url("../images/flamingo.jpg");
}

.letter[data-letter="Х"] {
  background-image: url("../images/hameleon.jpg");
}

.letter[data-letter="Ц"] {
  background-image: url("../images/tsvete.jpg");
}

.letter[data-letter="Ч"] {
  background-image: url("../images/chayka.jpg");
}

.letter[data-letter="Ш"] {
  background-image: url("../images/shisharka.jpg");
}

.letter[data-letter="Щ"] {
  background-image: url("../images/shtarkel.jpg");
}

.letter[data-letter="Ъ"] {
  background-image: url("../images/agal.jpg");
}

.letter[data-letter="Ь"] {
  background-image: url("../images/minyor.jpg");
}

.letter[data-letter="Ю"] {
  background-image: url("../images/yutia.jpg");
}

.letter[data-letter="Я"] {
  background-image: url("../images/yaguar.jpg");
}

.audio-icon {
  top: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
}

.audio-icon .path {
  fill: white;
}

.hidden {
  display: none;
}

@media (min-width: 960px) {
  body {
    width: 90%;
  }
}
